<div class="create-feature-container">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>Title</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input
          type="text"
          nz-input
          formControlName="isOrderEditingEnabled"
          placeholder="Feature title..."
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <nz-textarea-count [nzMaxCharacterCount]="1000">
          <textarea
            formControlName="description"
            nz-input
            rows="2"
            placeholder="Feature description..."
          ></textarea>
        </nz-textarea-count>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="form-button"
      [nzType]="'primary'"
      [disabled]="!validateForm.valid"
    >
      CREATE NEW FEATURE
    </button>
  </form>
</div>
