.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  font-size: 24px;
  color: red;
}

.answer-input {
  width: 680px;
  border-radius: 10px;
}
.correctAnswer-checkbox{
  margin-top: 3px;
}

.add-button {
  width: 300px;
}

//.answer {
//
//  .delete-icon {
//    margin-top: 1px;
//    cursor: pointer;
//    color: red;
//  }
//
//  .add-answer {
//    cursor: pointer;
//
//    .add-icon {
//      margin: 0 5px 0 30px;
//    }
//  }
//}
