.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;

  .container-question {
    width: 750px;
    max-height: 250px;
    box-sizing: border-box;
    padding: 10px 0;

    .pagination {
      padding: 10px 0;
    }

    .button-group {
      button {
        margin: 20px;
      }
    }
  }
}



