<div class="mainContainer" nz-col>
  <h2 nz-typography>Create test</h2>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <app-setting-test></app-setting-test>
    <div class="container-question">
      <div nz-row class="pagination" nzJustify="space-between">
        <div *ngFor="let question of questionsData" nz-col>
          {{ question.questionId }}
        </div>
      </div>
      <app-question-block
        (questionTypeEvent)="getQuestionType($event)"
      ></app-question-block>
      <h3>Answer choice</h3>
      <app-answer-block
        [questionTypeProps]="questionType"
        [validateFormProps]="optionsForm"
      ></app-answer-block>
      <nz-form-item>
        <nz-form-control>
          <div nz-row nzJustify="center" class="button-group">
            <button nz-button nzType="primary" nzShape="round">
              Save test
            </button>
            <button nz-button nzType="default" nzShape="round">Cancel</button>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
