<div nz-col class="container-common">
  <div class="button-back">
      <button nz-button nzType="primary" (click)="navigateBackToTopic()">
        <span nz-icon nzType="left"></span>
        Go back
      </button>
  </div>
  <h2 nz-typography>Create test</h2>
  <form nz-form [formGroup]="createTestForm" (ngSubmit)="submitForm()">
    <div class="container-setting" formGroupName="setting">
      <div nz-col class="container-input">
        <h3>Question title:</h3>
        <nz-form-item>
          <nz-form-control nzErrorTip="Question title is invalid(require title and long not more than 100 symbols)">
            <input formControlName="titleQuestion" nz-input placeholder="Question title"/>
          </nz-form-control>
        </nz-form-item>
        <h3>Question description:</h3>
        <nz-form-item>
          <nz-form-control
            nzErrorTip="Question description is invalid(require description and long not more than 100 symbols)">
            <input formControlName="description" nz-input placeholder="Question description"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-row class="container-select" nzJustify="space-between">
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="8">
          <h3>Theme</h3>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please select your topic!">
              <nz-select
                class="select-category"
                formControlName="topic"
                nzAllowClear
                nzPlaceHolder="Select a category"
              >
                <nz-option
                  *ngFor="let topic of topics | async"
                  [nzLabel]="topic.title"
                  [nzValue]="topic.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="8">
          <h3>Test Level</h3>
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group formControlName="difficulty" nzButtonStyle="solid">
                <label nz-radio-button nzValue="light"><span>Easy</span></label>
                <label nz-radio-button nzValue="medium"><span>Medium</span></label>
                <label nz-radio-button nzValue="hard"><span>Hard</span></label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="8">
          <h3>Number of questions</h3>
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group formControlName="numberQuestions" nzButtonStyle="solid" (ngModelChange)="onChangeNumberQuestions()">
                <label nz-radio-button nzValue="10"><span>10</span></label>
                <label nz-radio-button nzValue="15"><span>15</span></label>
                <label nz-radio-button nzValue="20"><span>20</span></label>
                <label nz-radio-button nzValue="25"><span>25</span></label>
                <label nz-radio-button nzValue="30"><span>30</span></label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="container-question">
      <div nz-row class="pagination" nzJustify="space-between">
        <div *ngFor="let page of questionPages, let i = index" nz-col>
          {{ i + 1}}
        </div>
      </div>
      <div class="question" formGroupName="extraSetting">
        <div nz-row nzJustify="space-evenly">
          <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="8" nzXl="6">
            <h3>Question Type</h3>
            <nz-form-item class="select-type">
              <nz-form-control>
                <nz-radio-group formControlName="questionType" nzButtonStyle="solid" (ngModelChange)="onChangeQuestionType()">
                  <label nz-radio-button nzValue="single"><span>single</span></label>
                  <label nz-radio-button nzValue="multi"><span>multi</span></label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="2" nzSm="4" nzMd="6" nzLg="8" nzXl="6">
            <h3>Timer</h3>
            <div class="timer" formGroupName="time">
              <nz-input-number
                formControlName="minutes"
                [nzStep]="1"
                [nzMax]="59"
                [nzMin]="0"
              ></nz-input-number>
              :
              <nz-input-number
                formControlName="seconds"
                [nzStep]="5"
                [nzMax]="59"
                [nzMin]="0"
              ></nz-input-number>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Answer choice</h3>
    <div class="container-answer" formArrayName="answers">
      <div *ngFor="let option of answers!.controls; let i = index">
        <div nz-row class="answer" [formGroupName]="i">
          <nz-form-item>
            <nz-form-control nzErrorTip="Answer title is invalid(require title and long not more than 100 symbols)">
              <input
                id="i"
                formControlName="titleAnswer"
                class="answer-input"
                nz-input
                placeholder="answer title"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <label
                for="i"
                formControlName="isCorrectAnswer"
                class="correctAnswer-checkbox"
                [nzChecked]="answers!.value[i].isCorrectAnswer"
                nz-checkbox
                (nzCheckedChange)="setNumberCorrectAnswers(i)"
              ></label>
            </nz-form-control>
          </nz-form-item>
          <span nz-icon nzType="delete" nzTheme="outline" class="dynamic-delete-button"
                (click)="removeAnswer(i)"></span>
        </div>
      </div>
    </div>
    <button
      class="add-button"
      nz-button
      nzType="dashed"
      (click)="addAnswer()"
    >
      <span nz-icon nzType="plus"></span>
      Add answer
    </button>
    <nz-form-item>
      <nz-form-control>
        <div nz-row nzJustify="center" class="button-group">
          <button type="submit" nz-button nzType="primary" nzShape="round" [disabled]="createTestForm.invalid || validationTrueAnswer()">
            Save test
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
