<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item routerLink="topics">All categories</li>
      <li nz-menu-item routerLink="tests">All tests</li>
      <li nz-menu-item routerLink="feature-flags">All feature-flags</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item nzSelected routerLink="/">
          <span>Dashboard</span>
        </li>
        <li
          nz-submenu
          nzTitle="Categories"
          nzIcon="database"
          routerLink="topics"
          [nzOpen]="true"
        >
          <ul>
            <li
              nz-menu-item
              *ngFor="let topic of topics | async"
              (click)="navigateToCategories($event, topic.title, topic.id)"
            >
              {{ topic.title }}
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Users" nzIcon="usergroup-add">
          <ul>
            <li nz-menu-item routerLink="admins">Admins</li>
            <li nz-menu-item routerLink="users">Users</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb
        [nzAutoGenerate]="true"
        [nzRouteLabelFn]="getActiveTitle.bind(this)"
      >
        <nz-breadcrumb-item class="breadcrumbHome" [routerLink]="['']">
          Home
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content class="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
